.container {
    background-color: #fff;

    .ant-layout-header {
        line-height: 45px;
        height: 45px;

        .header-content {
            max-width: 1024px;
            margin: 0 auto;
        }

        .logo {
            width: 45px;
        }

        .search-wrapper {
            max-width: 100vw;
            width: 500px;
            display: flex;
        }

        .login-out-action {
            color: #fff;

            .user-name {
                margin-right: 8px;
            }

            .sign-in {
                color: #fff;
            }
        }
    }

    .max-width {
        max-width: 1024px;
    }

    .ant-layout-footer {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        padding: 10px 50px;
    }

}

.ant-dropdown {
    .ant-menu.ant-menu-light.ant-menu-root.ant-menu-vertical {
        li.ant-menu-item {
            height: 30px;
            line-height: 30px;
        }
    }

    .ant-menu-vertical .ant-menu-item:not(:last-child),
    .ant-menu-vertical-left .ant-menu-item:not(:last-child),
    .ant-menu-vertical-right .ant-menu-item:not(:last-child),
    .ant-menu-inline .ant-menu-item:not(:last-child) {
        margin-bottom: 0;
    }
}